body {
  background: blueviolet;
}

h1 {
  text-align: center;
}

h1,
h2,
h3 {
  color: white;
}

a {
  color: orange;
}

.bts-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}
